@import-normalize; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --common-font: 'Inter', sans-serif;
  --secondary-font: 'Poppins', sans-serif;

  --absolute-white: #fff;
  --absolute-black: #000;

  --neutral-07100: #141718;
  --neutral-04100: #6C7275;
  --neutral-03100: #E8ECEF;
  --neutral-02100: #F3F5F7;
  --neutral-01100: #FEFEFE;
  --neutrals-8: #FCFCFD;

  --green: #38CB89;
  --blue: #377DFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: var(--common-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
